header#site-header {
    background: none;
    .header-inner{
        &.section-inner {
            padding: 0px 15px;
        }
        .header-navigation-wrapper{
            ul.top-icons{
                margin: 0px;
                .container-call-top {
                    font-weight: 700;
                }
            }
        }
        .primary-menu{
            li.current-menu-item{
                a{
                    color: $green;
                }
            }
            a{
                color: $gray-5e5;
            }
        }
        .toggle path{
            color: $green;
        }
    }
}   
@media (min-width: 768px){
header#site-header {
    margin-bottom: -230px !important;
    padding: 50px 0;
}
}

.inner-banner {
    padding-bottom: 0px;
    .cover-header.bg-image {
        background-position: center 30%;
    }
    .cover-header-inner-wrapper.screen-height {
        min-height: calc(60vh - 32px);
    }
}
