header#site-header {
    background: none;
    @media (max-width: 991px) {
        padding: 40px 0px;
        .toggle-text{
            display: none;
        }
    }
    @media (max-width: 767px) {
        .site-logo img {
            max-height: 3rem;
        }
    }
    
    .header-inner{
        &.section-inner {
            padding: 0px 15px;
        }
        .header-navigation-wrapper{
            ul.top-icons{
                margin: 0px;
                .container-call-top {
                    font-weight: 700;
                }
            }
        }
        .primary-menu{
            li.current-menu-item{
                a{
                    color: $green;
                }
            }
            a{
                color: $gray-5e5;
            }
        }
        .toggle path{
            color: $green;
        }
    }
}   
@media (min-width: 992px){
header#site-header {
    margin-bottom: -230px !important;
    padding: 50px 0;
}
}

.inner-banner {
    padding-bottom: 0px;
    .cover-header{
        background-position: center 30%;
        background-position: center right;
        background-repeat: no-repeat;
        background-size: cover;    
    }
    .cover-header-inner-wrapper.screen-height {
        min-height: calc(60vh - 32px);
        @media (max-width: 699px) {
            min-height: 250px;
        }
    }
    @media (max-width: 991px) {
        padding-top:0px;
    }

    .cover-header{
        .entry-header{
            @media (max-width: 767px) {
                height: 100%;
                @include flexbox;
                @include align-items(center);
                h2{
                    margin: 0px;
                }
            }
        }
    }
}
@media (max-width: 991px) {
    button.toggle.close-nav-toggle {
        display: none;
    }
    .menu-modal.cover-modal{
        margin-top: 110px;
        .mobile-menu{
            ul{
                li{
                    a{
                        padding: 10px 15px;
                        font-size: 16px;
                        color: $gray-5e5;
                    }
                }
            }
        }
    }
}