.cover-header{
    .cover-header-inner-wrapper{
        @include justify-content(center);
    
    }
    .entry-header{
        h2{
            color: $gray-5e5;
            font-size: 50px;
            text-align: left;
            span{
                color: $gray-b8b;
                &.center-text{
                    display: block;
                    color: $green;
                    strong{
                        color: $green;
                        font-size: 110px;
                        sup{
                            color: $green;
                        }
                    }

                }
            }
        }
    }
}

.investor-form.vc_row{
    border-radius: 15px;
    margin: 0px;
    margin-top: 60px;
    .vc_column-inner {
        padding-left: 7px !important;
        padding-top: 0 !important;
        padding-bottom: 0;
        .wpb_single_image {
            margin-bottom: 0;
            margin-top: -60px;
        }
        .form-container{
            @include flexbox;
            .wpcf7-form-control-wrap{
                padding: 0px 15px;
                width: 100%;
                @media (min-width: 768px) {
                    width: 33%;
                }
                input{
                    border: none;
                    background: none;
                    outline: none;
                    font-family: 'Averta Demo';
                    font-weight: 400;
                    color: $white;
                    border-bottom:1px solid  #6bd89a;
                    @include input-placeholder{
                        color: $white;
                        font-style: normal;       
                        opacity: 1;                 
                    }
                    &:focus{
                        @include input-placeholder{
                            opacity: 0;
                        }
                    }
                }
            }
            .btn{
                border-radius: 8px;
                background-color:$white;
                color: $gray-5e5;
                text-decoration: none;
                text-transform: capitalize;
                box-shadow: 0px 4px 9px hsla(0, 0%, 5%, 0.16);
                &:hover{
                    opacity: 0.8;
                }
            }
        }
    }
}
