.home-page-banner{
    @media (max-width: 991px) {
        padding-top: 0px;
    }
}
.cover-header{
    .cover-header-inner-wrapper{
        @include justify-content(center);
        @media (max-width: 991px) {
            @include justify-content(start);
            .cover-header-inner{
                padding: 0px;
                height: 100%;
            }
        }
    }
   
    .entry-header{
        @media (max-width: 991px) {
            padding: 0px;
        }
        h2{
            color: $gray-5e5;
            font-size: 50px;
            text-align: left;
            padding: 0px 15px;
            @media (max-width: 991px) {
                margin-top: 30px;
                text-align: center;
            }
            @media (max-width: 767px) {
                margin-top: 60px;   
                font-size: 30px;
            }
            span{
                color: $gray-b8b;
                &.center-text{
                    display: block;
                    color: $green;
                    strong{
                        color: $green;
                        font-size: 110px;
                        @media (max-width: 991px) {
                            font-size: 70px;
                        }
                        @media (max-width: 767px) {
                            font-size: 45px;
                        }
                        sup{
                            color: $green;
                        }
                    }

                }
            }
        }
    }
}


.hot-pre-Construction{
    .vc_gitem-animated-block {
        .vc_gitem-row-position-bottom{
            .vc_col-sm-12.vc_gitem-col.vc_gitem-col-align-{
                padding-bottom: 0px;
                .vc_custom_heading{
                    padding: 10px;
                    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 10%, #000000 100%);
                    &.vc_gitem-post-data{
                        @media (max-width: 1599px) {
                            margin: 0px;
                        }
                    }
                    h4{
                        font-size: 25px;
                        color: $white;
                    }
                }
            }
        }
    }
    .wpb_wrapper{
        position: relative;
        .vc_single_image-wrapper{
            height: 390px;
            width: 100%;
            position: relative;
            img{
                object-fit: cover;
                height: 100%;
                width: 100%;
            }
        }
    }
}

.investor-form.vc_row{
    border-radius: 15px;
    margin: 0px;
    margin-top: 60px;
    .vc_column-inner {
        padding-left: 7px !important;
        padding-top: 0 !important;
        padding-bottom: 0;
        .vc_col-sm-3{
            @media (max-width: 991px) {
                width: 100%;
            }
        }
        .vc_col-sm-9{
            @media (max-width: 991px) {
                width: 100%;
                h1, h2{
                    text-align: center !important;
                }
                h2{
                    margin-bottom: 20px;
                }
            }
        }
        .wpb_single_image {
            margin-bottom: 0;
            margin-top: -60px;
            figure{
                @media (max-width: 991px) {
                    display: block;
                    text-align: center;
                    .vc_single_image-wrapper{
                        background: $green;
                        border-radius: 170px;
                        overflow: hidden;
                        width: 300px;
                        height: 300px;
                        img{
                            margin-left: 0px;
                            margin-top: 40px;
                        }
                    }
                }
            }
            img {
                max-width: none;
                vertical-align: bottom;
                width: 320px;
                margin-left: -9px;
            }
        }
        .form-container{
            margin-bottom: 20px;
            @include flexbox;
            @media (max-width: 991px) {
                display: block;
                text-align: center;
                width: 80%;
                margin: 0px auto 40px;
            }
            .wpcf7-form-control-wrap{
                padding: 0px 15px;
                width: 100%;
                @media (min-width: 768px) {
                    width: 33%;
                }
                input{
                    border: none;
                    background: none;
                    outline: none;
                    font-family: 'Averta Demo';
                    font-weight: 400;
                    color: $white;
                    border-bottom:1px solid  #6bd89a;
                    @include input-placeholder{
                        color: $white;
                        font-style: normal;       
                        opacity: 1;                 
                    }
                    &:focus{
                        @include input-placeholder{
                            opacity: 0;
                        }
                    }
                }
            }
            .btn{
                border-radius: 8px;
                background-color:$white;
                color: $gray-5e5;
                text-decoration: none;
                text-transform: capitalize;
                box-shadow: 0px 4px 9px hsla(0, 0%, 5%, 0.16);
                min-width: 200px;
                &:hover{
                    opacity: 0.8;
                }
                @media (max-width: 991px) {
                    margin-top: 30px;
                }
            }
        }
    }
}

.testimonial-section{
    .wpb_wrapper{
        .wpb_wrapper{
            @include custom-shadow(0px 3px 29px 0px rgba(0, 0, 0, 0.05));
            border-radius: 10px;
            overflow: hidden;
        }
    }
    .rt-col-md-12{
        padding: 0px;
    }
    .single-item-wrapper{
        @include flexbox;
        @include flex-wrap(wrap);
        @include align-items(center);
        .profile-img-wrapper{
            height: 330px;
            position: relative;
            overflow: hidden;
            border-bottom-right-radius: 260px;
            @media (min-width: 768px) {
                width: 350px;
            }
            @media (min-width: 1199px) {
                width: 530px;
            }
            @media (max-width: 767px) {
                height: 240px;
                position: relative;
                overflow: hidden;
                border-radius: 260px;
                width: 240px;
                display: block;
                margin: 30px auto 30px;
            }
            &:before {
                content: "";
                position: absolute;
                z-index: 1;
                @include bg-opacity($green, 0.4);
                width: 100%;
                height: 100%;
                left: 0px;
                top: 0;
            }
            img{
                position: absolute;
                left: 0px;
                top: 0px;
                object-fit: cover;
                height: 100%;
                object-position: center;
                @include filtercolor(hue-rotate, 430deg);
            }
        }
        .item-content-wrapper{
            @media (min-width: 768px) {
                width: calc(100% - 390px);
            }
            @media (min-width: 1199px) {
                width: calc(100% - 690px);
            }
            text-align: left;
            position: relative;
            margin: auto;
            &:before{
                content: '“';
                font-size: 234.255px;
                font-family: "Roboto";
                color: $gray-5e5;
                font-weight: bold;
                position: absolute;
                top: -40px;            
            }
            .author-name{
                font-size: 25px;
                font-family: "Averta Demo";
                color: $green;
                line-height: normal;
                text-align: left;
                min-height: auto;
                padding: 0px;
                margin: 0px;
                padding-left: 100px;
            }
            .author-bio {
                font-size: 22px;
                font-family: "Averta Demo";
                color: $gray-b8b !important;
                line-height: normal;
                text-align: left;
                min-height: auto;
                padding-left: 100px;
                letter-spacing: 0.5px;
                font-style: italic;
                margin-top: 5px;
              }
              .item-content.entry-content{
                text-align: left;
                color: $gray-5e5;
                padding: 0px;
                margin: 0px;
                width: 100%;
                font-style: normal;
                font-size: 28px;
                margin: 14px;
                margin-top: 30px;
                line-height: 35px;
                font-style: normal;
                font-size: 28px;
                @media (max-width: 767px) {
                    font-size: 20px;
                }
                p{
                    color: $gray-5e5;
                    text-align: left;
                    padding: 0px;
                    width: 100% !important;
                    margin: 0;
                    font-style: normal;
                    font-size: 28px;
                    line-height: 35px;
                    @media (max-width: 767px) {
                        font-size: 20px;
                    }
                }
              }
        }
       
    }
    .owl-nav {
        position: absolute;
        width: 100%;
        top: 42%;
        button.owl-prev {
            float: left;
        }
        button.owl-next {
            float: right;
        }
    }
}
