.vip-projects-single{
    padding-top: 67px;
    .project-big-title{
        margin-bottom: 63px;
        h2{
            font-size: 40px;
            color: #000000;
            text-align: left;
            font-weight: 700;
            font-style: normal;
            font-family: 'Playfair Display', serif;
        }
        h3{
            font-size: 35px;
            color: #000000;
            text-align: left;
            font-weight: 700;
            font-family: 'Playfair Display', serif;
            font-style: normal;
        }
    }
    .project-details{
        margin-bottom: 60px;
        .project-details-list{
            padding: 0px;
            margin: 0px;
            list-style: none;
            @media (min-width: 768px){
                column-count: 2;
                column-gap: 40px;
            }
            li{
                margin: 0px;
                line-height: 30px;
                font-size: 23px;
                font-weight: 600;
                color: #2c7bf2;
                margin-bottom: 15px;
                letter-spacing: 0.3px;
                span{
                    color: #000000;
                    min-width: 170px;
                    display: inline-block;
                }
            }
        }
    }
    .project-image{
        margin-bottom: 60px;
        .featured-media{
            .featured-media-inner{
                position: relative;
                max-width: 100%;
                left: 0px;
                padding: 0px;
                border-radius: 4px;
                overflow: hidden;
                height: 560px;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                    position: absolute;
                }
            }
        }
    }
    .project-Title_header{
        @media (min-width: 768px){
            @include flexbox;
        }
        width: 100%;
        @include justify-content(space-between);
        margin-bottom: 60px;
        .project-title{
            font-family: 'Poppins', sans-serif;
            h4{
                font-size: 30px;
                color: #000000;
                text-align: left;
                font-weight: 600;
                font-style: normal;
                margin: 0px;
                text-transform: capitalize;
            }
            h5{
                font-size: 30px;
                color: #000000;
                text-align: left;
                font-weight: 600;
                font-style: normal;
                margin: 0px;
                text-transform: capitalize;
            }
        }
        .project-navigation{
            .pagination-single{
                margin: 0px;
                .pagination-single-inner{
                    @media (max-width: 767px){
                        margin-top: 30px;
                        flex-direction: unset;
                    }
                }
                a{
                    width: 70px;
                    height: 70px;
                    @media (max-width: 767px){
                        max-width: 70px;
                        margin: 0px;
                    }
                    letter-spacing: 0;
                    flex: auto;
                    @include justify-content(center);
                    @include align-items(center);
                    border: 1px solid #257efc;
                    color: #257efc  ;
                    border-radius:5px;
                    span{
                        margin: 0px;
                        font-size: 35px;
                    }
                    &:hover{
                        background-color: #257efc;
                        color: #ffffff;
                    }
                    &.next-post{
                        margin-left: 10px;
                    }
                }

            }
        }
    }
    .project-description{
        margin-bottom: 53px;
        p{
            color: #000000;
            font-family: 'Poppins', sans-serif;
        }
    }
    .project-features, .project-floorplans, .project-pricelist{
        margin-bottom: 60px;
        h3{
            font-size: 27px;
            font-weight: 600;
            margin-bottom: 35px;
        }
        .list{
            margin: 0px;
            padding: 0px;
            list-style: none;
            @media (min-width: 768px){
                columns: 2;
            }
            li{
                margin: 0px 0px 22px;
                padding-left: 50px;
                font-weight: 600;
                color: #000;
                font-family: 'Poppins', sans-serif;
                position: relative;
                &:before{
                    content: '';
                    background-image:  url('#{$img-link}tick.png');
                    width: 25px;
                    height: 30px;
                    background-size: cover;
                    position: absolute;
                    left: 0;
                    background-repeat: no-repeat;
                    background-position: center;
                }
            }
        }
    }
    .project-pricelist{
        table{
            border: none;
            thead{
                tr{
                    background-color: #1f74f4;
                    color: #ffffff;
                    th{
                        border: none;
                        font-weight: 500;
                        padding: 20px;
                    }
                }
                
            }
            tbody{
                
                tr{
                    background-color: rgba(221, 221, 221, 0.12156862745098039);
                    &.spaceing{
                        background: none;
                        td{
                            padding: 5px;
                        }
                    }
                    td{
                        border: none;
                        padding: 20px;
                        color: #000;
                        font-weight: 500;
                    }
                }
            }
        }
    }

}