$img-link:"../../images/";

// Theme Color code 

$gray-5e5: #5e5e5e;
$gray-b8b: #b8b8b8;
$green: #2dcb73;
$drak-green: #26b967;
$green-1: #8cc12b;
$white: #ffffff;
$gray-fbf: #fbfbfb;
$orange: #ffb129;
$gray-4a4: #4a4a4a;
$gray-2d2: #2d2d2d;
$gray-717: #717171;
$gray-f8f: #f8f8f8;
$red: #d11919;
