body {
  font-family: 'Averta Demo';
}

.container {
  padding: 0 15px;
  font-family: 'Averta Demo';
}

@media (min-width: 1600px) {
  .container {
    max-width: 1520px;
    width: 100%;
    padding: 0px;
  }
}

@media (min-width: 700px) {
  .section-inner {
    width: 100%;
  }
  .entry-content {
    font-size: 30px;
    font-size: 1.875rem;
  }
  .entry-content p {
    line-height: normal;
  }
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}

.row .col-sm-12 {
  width: 100%;
  padding: 0px 15px;
}

.row .col-sm-4 {
  width: 100%;
  padding: 0px 15px;
  display: inline-block;
}

@media (min-width: 768px) {
  .row .col-sm-4 {
    width: 33.33%;
  }
}

.row .col-sm-8 {
  width: 100%;
  padding: 0px 15px;
  display: inline-block;
}

@media (min-width: 768px) {
  .row .col-sm-8 {
    width: 67%;
  }
}

header#site-header {
  background: none;
}

header#site-header .header-inner .header-navigation-wrapper ul.top-icons {
  margin: 0px;
}

header#site-header .header-inner .header-navigation-wrapper ul.top-icons .container-call-top {
  font-weight: 700;
}

header#site-header .header-inner .primary-menu a {
  color: #5e5e5e;
}

header#site-header .header-inner .toggle path {
  color: #2dcb73;
}

@media (min-width: 768px) {
  .home header#site-header {
    margin-bottom: -230px !important;
    padding: 50px 0;
  }
}

.cover-header .cover-header-inner-wrapper {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -moz-justify-content: center;
  justify-content: center;
}

.cover-header .entry-header h2 {
  color: #5e5e5e;
  font-size: 50px;
  text-align: left;
}

.cover-header .entry-header h2 span {
  color: #b8b8b8;
}

.cover-header .entry-header h2 span.center-text {
  display: block;
  color: #2dcb73;
}

.cover-header .entry-header h2 span.center-text strong {
  color: #2dcb73;
  font-size: 110px;
}

.cover-header .entry-header h2 span.center-text strong sup {
  color: #2dcb73;
}

.investor-form.vc_row {
  border-radius: 15px;
  margin: 0px;
  margin-top: 60px;
}

.investor-form.vc_row .vc_column-inner {
  padding-left: 7px !important;
  padding-top: 0 !important;
  padding-bottom: 0;
}

.investor-form.vc_row .vc_column-inner .wpb_single_image {
  margin-bottom: 0;
  margin-top: -60px;
}

.investor-form.vc_row .vc_column-inner .form-container {
  display: -webkit-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}

.investor-form.vc_row .vc_column-inner .form-container .wpcf7-form-control-wrap {
  padding: 0px 15px;
  width: 100%;
}

@media (min-width: 768px) {
  .investor-form.vc_row .vc_column-inner .form-container .wpcf7-form-control-wrap {
    width: 33%;
  }
}

.investor-form.vc_row .vc_column-inner .form-container .wpcf7-form-control-wrap input {
  border: none;
  background: none;
  outline: none;
  font-family: 'Averta Demo';
  font-weight: 400;
  color: #ffffff;
  border-bottom: 1px solid  #6bd89a;
}

.investor-form.vc_row .vc_column-inner .form-container .wpcf7-form-control-wrap input.placeholder {
  color: #ffffff;
  font-style: normal;
  opacity: 1;
}

.investor-form.vc_row .vc_column-inner .form-container .wpcf7-form-control-wrap input:-moz-placeholder {
  color: #ffffff;
  font-style: normal;
  opacity: 1;
}

.investor-form.vc_row .vc_column-inner .form-container .wpcf7-form-control-wrap input::-moz-placeholder {
  color: #ffffff;
  font-style: normal;
  opacity: 1;
}

.investor-form.vc_row .vc_column-inner .form-container .wpcf7-form-control-wrap input:-ms-input-placeholder {
  color: #ffffff;
  font-style: normal;
  opacity: 1;
}

.investor-form.vc_row .vc_column-inner .form-container .wpcf7-form-control-wrap input::-webkit-input-placeholder {
  color: #ffffff;
  font-style: normal;
  opacity: 1;
}

.investor-form.vc_row .vc_column-inner .form-container .wpcf7-form-control-wrap input:focus.placeholder {
  opacity: 0;
}

.investor-form.vc_row .vc_column-inner .form-container .wpcf7-form-control-wrap input:focus:-moz-placeholder {
  opacity: 0;
}

.investor-form.vc_row .vc_column-inner .form-container .wpcf7-form-control-wrap input:focus::-moz-placeholder {
  opacity: 0;
}

.investor-form.vc_row .vc_column-inner .form-container .wpcf7-form-control-wrap input:focus:-ms-input-placeholder {
  opacity: 0;
}

.investor-form.vc_row .vc_column-inner .form-container .wpcf7-form-control-wrap input:focus::-webkit-input-placeholder {
  opacity: 0;
}

.investor-form.vc_row .vc_column-inner .form-container .btn {
  border-radius: 8px;
  background-color: #ffffff;
  color: #5e5e5e;
  text-decoration: none;
  text-transform: capitalize;
  -webkit-box-shadow: 0px 4px 9px rgba(13, 13, 13, 0.16);
          box-shadow: 0px 4px 9px rgba(13, 13, 13, 0.16);
}

.investor-form.vc_row .vc_column-inner .form-container .btn:hover {
  opacity: 0.8;
}

.footer-nav-widgets-wrapper {
  background: #fbfbfb;
}

.footer-nav-widgets-wrapper .container .footer-widgets-outer-wrapper .widget-title {
  font-size: 40px;
  color: #5e5e5e;
  font-family: 'Averta Demo', serif;
  font-weight: 500;
  letter-spacing: 0.8px;
}

.footer-nav-widgets-wrapper .container .footer-widgets-outer-wrapper p {
  color: #5e5e5e;
}

.footer-nav-widgets-wrapper .container .form-container .wpcf7-form-control-wrap {
  width: 100%;
}

.footer-nav-widgets-wrapper .container .form-container .wpcf7-form-control-wrap input, .footer-nav-widgets-wrapper .container .form-container .wpcf7-form-control-wrap textarea {
  border: none;
  background: none;
  outline: none;
  font-family: 'Averta Demo';
  font-weight: 400;
  color: #5e5e5e;
  border-bottom: 1px solid  #ebebeb;
  padding-left: 0;
  padding-right: 0;
}

.footer-nav-widgets-wrapper .container .form-container .wpcf7-form-control-wrap input.placeholder, .footer-nav-widgets-wrapper .container .form-container .wpcf7-form-control-wrap textarea.placeholder {
  color: #5e5e5e;
  font-style: normal;
  opacity: 1;
}

.footer-nav-widgets-wrapper .container .form-container .wpcf7-form-control-wrap input:-moz-placeholder, .footer-nav-widgets-wrapper .container .form-container .wpcf7-form-control-wrap textarea:-moz-placeholder {
  color: #5e5e5e;
  font-style: normal;
  opacity: 1;
}

.footer-nav-widgets-wrapper .container .form-container .wpcf7-form-control-wrap input::-moz-placeholder, .footer-nav-widgets-wrapper .container .form-container .wpcf7-form-control-wrap textarea::-moz-placeholder {
  color: #5e5e5e;
  font-style: normal;
  opacity: 1;
}

.footer-nav-widgets-wrapper .container .form-container .wpcf7-form-control-wrap input:-ms-input-placeholder, .footer-nav-widgets-wrapper .container .form-container .wpcf7-form-control-wrap textarea:-ms-input-placeholder {
  color: #5e5e5e;
  font-style: normal;
  opacity: 1;
}

.footer-nav-widgets-wrapper .container .form-container .wpcf7-form-control-wrap input::-webkit-input-placeholder, .footer-nav-widgets-wrapper .container .form-container .wpcf7-form-control-wrap textarea::-webkit-input-placeholder {
  color: #5e5e5e;
  font-style: normal;
  opacity: 1;
}

.footer-nav-widgets-wrapper .container .form-container .wpcf7-form-control-wrap input:focus.placeholder, .footer-nav-widgets-wrapper .container .form-container .wpcf7-form-control-wrap textarea:focus.placeholder {
  opacity: 0;
}

.footer-nav-widgets-wrapper .container .form-container .wpcf7-form-control-wrap input:focus:-moz-placeholder, .footer-nav-widgets-wrapper .container .form-container .wpcf7-form-control-wrap textarea:focus:-moz-placeholder {
  opacity: 0;
}

.footer-nav-widgets-wrapper .container .form-container .wpcf7-form-control-wrap input:focus::-moz-placeholder, .footer-nav-widgets-wrapper .container .form-container .wpcf7-form-control-wrap textarea:focus::-moz-placeholder {
  opacity: 0;
}

.footer-nav-widgets-wrapper .container .form-container .wpcf7-form-control-wrap input:focus:-ms-input-placeholder, .footer-nav-widgets-wrapper .container .form-container .wpcf7-form-control-wrap textarea:focus:-ms-input-placeholder {
  opacity: 0;
}

.footer-nav-widgets-wrapper .container .form-container .wpcf7-form-control-wrap input:focus::-webkit-input-placeholder, .footer-nav-widgets-wrapper .container .form-container .wpcf7-form-control-wrap textarea:focus::-webkit-input-placeholder {
  opacity: 0;
}

.footer-nav-widgets-wrapper .container .form-container .btn-submit {
  border-radius: 8px;
  background-color: #ffb129;
  color: #ffffff;
  text-decoration: none;
  text-transform: capitalize;
  font-weight: 400;
  font-family: 'Averta Demo', serif;
  outline: none;
  margin-top: 40px;
  -webkit-box-shadow: 0px 4px 9px rgba(13, 13, 13, 0.16);
          box-shadow: 0px 4px 9px rgba(13, 13, 13, 0.16);
}

.footer-nav-widgets-wrapper .container .form-container .btn-submit:hover {
  opacity: 0.8;
}

.footer-nav-widgets-wrapper .container div.wpcf7-validation-errors, .footer-nav-widgets-wrapper .container div.wpcf7-acceptance-missing {
  font-size: 14px;
}

footer.header-footer-group {
  background: #2d2d2d;
  padding: 10px;
}

footer.header-footer-group .footer-contact .social-icons-list {
  list-style: none;
  display: table;
  margin: 0 auto;
}

footer.header-footer-group .footer-contact .social-icons-list li {
  display: inline-block;
  margin: 0px 15px;
}

footer.header-footer-group .footer-contact .social-icons-list li a {
  color: #4a4a4a;
}

footer.header-footer-group .footer-contact .social-icons-list li a:hover {
  color: #2dcb73;
}

.vip-projects-single {
  padding-top: 67px;
}

.vip-projects-single .project-big-title {
  margin-bottom: 63px;
}

.vip-projects-single .project-big-title h2 {
  font-size: 40px;
  color: #000000;
  text-align: left;
  font-weight: 700;
  font-style: normal;
  font-family: 'Averta Demo', serif;
}

.vip-projects-single .project-big-title h3 {
  font-size: 35px;
  color: #000000;
  text-align: left;
  font-weight: 700;
  font-family: 'Averta Demo', serif;
  font-style: normal;
}

.vip-projects-single .project-details {
  margin-bottom: 60px;
}

.vip-projects-single .project-details .project-details-list {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

@media (min-width: 768px) {
  .vip-projects-single .project-details .project-details-list {
    -webkit-column-count: 2;
            column-count: 2;
    -webkit-column-gap: 40px;
            column-gap: 40px;
  }
}

.vip-projects-single .project-details .project-details-list li {
  margin: 0px;
  line-height: 30px;
  font-size: 23px;
  font-weight: 600;
  color: #2c7bf2;
  margin-bottom: 15px;
  letter-spacing: 0.3px;
}

.vip-projects-single .project-details .project-details-list li span {
  color: #000000;
  min-width: 170px;
  display: inline-block;
}

.vip-projects-single .project-image {
  margin-bottom: 60px;
}

.vip-projects-single .project-image .featured-media .featured-media-inner {
  position: relative;
  max-width: 100%;
  left: 0px;
  padding: 0px;
  border-radius: 4px;
  overflow: hidden;
  height: 560px;
}

.vip-projects-single .project-image .featured-media .featured-media-inner img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  position: absolute;
}

.vip-projects-single .project-Title_header {
  width: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -moz-justify-content: space-between;
  justify-content: space-between;
  margin-bottom: 60px;
}

@media (min-width: 768px) {
  .vip-projects-single .project-Title_header {
    display: -webkit-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

.vip-projects-single .project-Title_header .project-title {
  font-family: 'Poppins', sans-serif;
}

.vip-projects-single .project-Title_header .project-title h4 {
  font-size: 30px;
  color: #000000;
  text-align: left;
  font-weight: 600;
  font-style: normal;
  margin: 0px;
  text-transform: capitalize;
}

.vip-projects-single .project-Title_header .project-title h5 {
  font-size: 30px;
  color: #000000;
  text-align: left;
  font-weight: 600;
  font-style: normal;
  margin: 0px;
  text-transform: capitalize;
}

.vip-projects-single .project-Title_header .project-navigation .pagination-single {
  margin: 0px;
}

@media (max-width: 767px) {
  .vip-projects-single .project-Title_header .project-navigation .pagination-single .pagination-single-inner {
    margin-top: 30px;
    -webkit-box-orient: unset;
    -webkit-box-direction: unset;
        -ms-flex-direction: unset;
            flex-direction: unset;
  }
}

.vip-projects-single .project-Title_header .project-navigation .pagination-single a {
  width: 70px;
  height: 70px;
  letter-spacing: 0;
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -moz-align-items: center;
  align-items: center;
  border: 1px solid #257efc;
  color: #257efc;
  border-radius: 5px;
}

@media (max-width: 767px) {
  .vip-projects-single .project-Title_header .project-navigation .pagination-single a {
    max-width: 70px;
    margin: 0px;
  }
}

.vip-projects-single .project-Title_header .project-navigation .pagination-single a span {
  margin: 0px;
  font-size: 35px;
}

.vip-projects-single .project-Title_header .project-navigation .pagination-single a:hover {
  background-color: #257efc;
  color: #ffffff;
}

.vip-projects-single .project-Title_header .project-navigation .pagination-single a.next-post {
  margin-left: 10px;
}

.vip-projects-single .project-description {
  margin-bottom: 53px;
}

.vip-projects-single .project-description p {
  color: #000000;
  font-family: 'Poppins', sans-serif;
}

.vip-projects-single .project-features, .vip-projects-single .project-floorplans, .vip-projects-single .project-pricelist {
  margin-bottom: 60px;
}

.vip-projects-single .project-features h3, .vip-projects-single .project-floorplans h3, .vip-projects-single .project-pricelist h3 {
  font-size: 27px;
  font-weight: 600;
  margin-bottom: 35px;
}

.vip-projects-single .project-features .list, .vip-projects-single .project-floorplans .list, .vip-projects-single .project-pricelist .list {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

@media (min-width: 768px) {
  .vip-projects-single .project-features .list, .vip-projects-single .project-floorplans .list, .vip-projects-single .project-pricelist .list {
    -webkit-columns: 2;
            columns: 2;
  }
}

.vip-projects-single .project-features .list li, .vip-projects-single .project-floorplans .list li, .vip-projects-single .project-pricelist .list li {
  margin: 0px 0px 22px;
  padding-left: 50px;
  font-weight: 600;
  color: #000;
  font-family: 'Poppins', sans-serif;
  position: relative;
}

.vip-projects-single .project-features .list li:before, .vip-projects-single .project-floorplans .list li:before, .vip-projects-single .project-pricelist .list li:before {
  content: '';
  background-image: url("../../images/tick.png");
  width: 25px;
  height: 30px;
  background-size: cover;
  position: absolute;
  left: 0;
  background-repeat: no-repeat;
  background-position: center;
}

.vip-projects-single .project-pricelist table {
  border: none;
}

.vip-projects-single .project-pricelist table thead tr {
  background-color: #1f74f4;
  color: #ffffff;
}

.vip-projects-single .project-pricelist table thead tr th {
  border: none;
  font-weight: 500;
  padding: 20px;
}

.vip-projects-single .project-pricelist table tbody tr {
  background-color: rgba(221, 221, 221, 0.121569);
}

.vip-projects-single .project-pricelist table tbody tr.spaceing {
  background: none;
}

.vip-projects-single .project-pricelist table tbody tr.spaceing td {
  padding: 5px;
}

.vip-projects-single .project-pricelist table tbody tr td {
  border: none;
  padding: 20px;
  color: #000;
  font-weight: 500;
}
/*# sourceMappingURL=main-style.css.map */